button{
    padding: 16px;
    border: none;
    transform: rotate(random(2) + deg);
    background-color: $mango;
    box-shadow: 2px 5px rgba(0,0,0,1);
    outline: none;
    user-select: none;

    transition: all .25s ease;

    &:hover{
        transform: scale(1.05);
        transform: rotate(-5deg);
        outline: none;
    }

    &:active{
        transform: scale(.95);
        background-color: $winter-sky;
        outline: none;
    }

    &:disabled{
        background-color: $medium-grey;
        transform: skew(0deg);
        box-shadow: none;
    }
}