#topbar {
    overflow: hidden;
    background-color: $blue-violet;
    position: fixed;
    padding: 16px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    h5{
        color: white;
        font-size: 16px;
        line-height: 0;
        margin: 0;
    }

    #navlogin{
        position: fixed;
        top: 0;
        right: 0;
        line-height: 0;

        button{
            transition: all 0s;
            box-shadow: none !important;
            transform: skew(0) !important;
            background-color: #02c39a;
            &:active{
                background-color: #028090;
            }
        }
    }

    .text{
        background-color: transparent !important;
        h5{
            transition: all 0s;
            &:active{
                color: $ash !important;
            }
        }
    }
}

#bottombar {
    overflow: hidden;
    background-color: $ash;
    position: fixed;
    padding: 12px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
}