.qformToggle {
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}