@import "fonts";
@import "palette";
@import "buttons";
@import "toggles";
@import "navbars";
@import "modal";
@import "menu";
@import "question";
@import "login";

*{
    font-size: 24px;
    transition: all .25s linear;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

body{
    height: 100%;
    margin: 0;
    background: $light-blue;
}

#root{
    margin: auto;
    width: 50%;
    height: 100vh;
    background-color: white;
    box-shadow: 0px 0px 25px 8px rgba(0, 0, 0, 0.05);
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#splash{
    margin-bottom: 25%;
}

#title{
    font-size: 72px;
    font-weight: 500;
    text-align: center;
    transform: rotate(-2deg);
    background-color: $winter-sky;
    box-shadow: 24px 24px black;
}

#tagline{
    position: fixed;
    top: 120px;
    right: 0px;
    width: 300px;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    padding: 0px 16px;
    transform: rotate(3deg);
    background-color: $orange-pantone;
    box-shadow: 12px 12px black;
    z-index: 10;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: $winter-sky;
    border-radius: 50px;
    padding: 5px;
}

@media only screen and (max-width: 800px) {
    * {
      font-size: 12px;
    }
}